body {
    background-color: black;
    margin: auto 0;
    padding: auto 0;
    overflow-x: hidden;
}

.p {
    color: white;
    font-family: fantasy;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_bar a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 90px;
    width: 60px;
}

#nav_bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*button modal*/
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #424242;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 10px 0;
}

button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

#div_buttonModal {
    text-align: right;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}


/*  -------- card ------------ */

#div_card {
    height: 68vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.myCard {
    background-color: transparent;
    width: 266px;
    height: 332px;
    perspective: 1000px;
    display: block;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: black;
}

.backSide,
.backSide::before {
    background-image: black;
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}